<!DOCTYPE HTML>
<html>
<head>
<!-- <META NAME="description" CONTENT="<!-config_gl_desc-->">
<!-- <META NAME="keywords" CONTENT="<!--config_gl_keywords-->
<!-- <META NAME="author" CONTENT="LiveZilla GmbH">
<META NAME="Copyright" CONTENT="LiveZilla GmbH">
<META NAME="generator" CONTENT="LiveZilla GmbH - http://www.livezilla.net"> -->
<META NAME="audience" CONTENT="All">
<!-- <META NAME="robots" CONTENT="index,follow"> -->
<META http-equiv="X-UA-Compatible" content="IE=edge">
<META name="viewport" id="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
<META name="apple-mobile-web-app-capable" content="yes">
<title><!--config_gl_site_name--> - Live Chat</title>
<link rel="icon" type="image/x-icon" href="./images/favicon.ico">
</head>
<body>
<div id="lz_chat_fs_loading">
    <div class="lz_anim_point_load" style="padding:5px 0 0 0;"><span></span><span></span><span></span></div>
</div>
<div id="lz_chat_fs_header" style="display:none;">
    <div id="lz_chat_fs_logo_left"><img src="" border="0"></div>
    <div id="lz_chat_fs_logo_right"><!--logor--></div>
</div>
<div id="lz_chat_fs_body" style="display:none;top:<!--btop-->;"></div>
<script type="text/javascript">
    lz_ovlel_fsm = true;
    setTimeout(function(){
        document.getElementById('lz_chat_fs_loading').style.display='none';
        document.getElementById('lz_chat_fs_body').style.display='block';
        document.getElementById('lz_chat_fs_header').style.display='block';
        lz_chat_scoll_down();
    },1000);
</script>
<!--widget-->
<script type="text/javascript">window.onresize=function(){try{lz_chat_set_element_width()}catch(ex){return false;}};</script>
</body>
</html>
