BODY{font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:1em;padding:0;margin:0;color:#636d73;}
TABLE{width:100%;}
FORM{box-sizing: border-box;display:block;}
INPUT:focus{outline:none;}
FIELDSET{border:0;padding:0;margin:0;}
LEGEND{font-size:1.6em;color:#666;padding:0 0 0.6em 0;width:100%;}
HR{border:none;height:1px;color:#e4e4e4;background-color:#e4e4e4;}
OL,UL,LI{}
A{color:#666;}

#lz_kb_main{margin: 0 auto;}
#lz_kb_h1{border-bottom:1px solid #d1d5d7;}
#lz_kb_h2{background:#fafafa;border-bottom:1px solid #e4e4e4;max-height:100px;padding:2vh 0;}

#lz_kb_search_box{text-align:center;padding:20px;max-width:700px;margin:0 auto;}
#lz_kb_input{border-radius:0;width:calc(100% - 8em);height:44px;font-size:1em;color:#666;-webkit-appearance: none;}
#lz_kb_search{border-radius:0;-webkit-appearance: none;width:7em;background:linear-gradient(to bottom, white 0%, #f4f4f4 100%);border:1px solid #d1d5d7;min-height:44px;color:#999;cursor:pointer;font-size:1em;}
#lz_kb_navigation{padding:1vw 0;min-height:1em;line-height:3em;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.lz_form_box{color:#999;box-sizing:border-box;background:#fff;padding:12px;border:1px solid #d1d5d7;width:100%;}

.lz_kb_all{float:right;display:inline-block;font-size:14px;color:#999;}
.lz_kb_all *{color:#777;}
.lz_kb_center{margin:0 auto;max-width: 1000px;padding:0 5vw;}
.lz_kb_link a{text-decoration: none;font-weight: bold;font-size:1.1em;}
.lz_kb_link div{padding-top:4px;line-height:1.4em;}
.lz_kb_link{padding:0.5em 0;}

.lz_kb_result_info{text-align:center;padding:1vw 0 4vw 0;}
.lz_kb_entry_content{line-height:1.4em;}

.lz_kb_rate{font-size:0.9em;white-space: nowrap;}
.lz_kb_rate span{padding:0 10px;}
.lz_kb_rate div{padding:0 0 10px 0;}
.lz_kb_edit{padding:0 10px 0 0;white-space: nowrap;}
.lz_kb_footer{width:100%;font-size:0.9em;border-spacing:0;border-collapse: separate;}
.lz_kb_footer td{vertical-align:top;}
.lz_kb_footer td:nth-child(2){text-align:right;font-size:12px;}
.lz_kb_footer td:nth-child(1) div{display:table-cell;vertical-align:top;}

.lz_chat_overlay_icon{cursor:pointer;width:24px;height:20px;fill:#777;position:relative;bottom:-4px;}
.lz_chat_overlay_icon:hover{opacity:0.5;}
.lz_chat_overlay_icon path{transform:scale(.011);}

.lz_kb_avatar_frame{padding:0 10px 0 0;}
.lz_kb_avatar{width:0;height:36px;padding:0 24px;background-size: 100% 100%;box-shadow: 1px 1px 2px #444;border-radius: 2px;}

#lz_kb_date{font-size:0.8em;display:block;color:#999;padding:5px 0;}

@media screen and (max-width:800px){
    BODY{font-size:0.9em;}
    LEGEND{font-size:1.5em;width:100%;}
    .lz_kb_link a{font-size:1.2em;}
    #lz_kb_header{display:none;}
    #lz_kb_h2{padding:0.2vh 0;}
    #lz_kb_results{position: absolute;top:89px;left: 0;right: 0;bottom: 0;overflow: auto;}
}














