<div onclick="lz_chat_open(false);" id="lz_overlay_eyecatcher">
    <div id="lz_overlay_eyecatcher_avatar" style="display:<!--avatar_visible-->;margin:<!--border-->px 0 0 2px;background:<!--avatar_bg_col--> url('<!--avatar_src-->') no-repeat center center;background-size:<!--bg_size-->;border:<!--avatar_border_w-->px solid <!--avatar_border_c-->;"></div>
    <div id="lz_ec_header_text" style="right:10px;left:<!--left_margin-->px;margin:0;padding:<!--header_padding-->px 0 0 0;font-size:20px;z-index:10003;font-weight:bold;color:<!--header_color-->;"><!--header_text--></div>
    <div id="lz_ec_sub_header_text" style="<!--sh_adds-->right:10px;line-height:17px;left:<!--left_margin-->px;margin:0;padding:<!--header_sub_padding-->px 10px 0 0;font-size:14px;opacity:0.95;z-index:10003;font-weight:normal;color:<!--sub_header_color-->;overflow:hidden;"><!--sub_header_text--></div>
    <!--close_icon-->
    <canvas style="z-index:10002;" id="lz_overlay_eyecatcher_bubble" width="<!--width-->" height="<!--height-->"></canvas>
</div>