<div id="livezilla_wm_c" class="lz_chat_unselectable lz_overlay_wm_c"></div>
<div id="livezilla_wm_d" class="lz_chat_unselectable lz_overlay_wm_desc" style="background:<!--pc-->;"></div>
<div id="livezilla_wm_bg" class="lz_chat_unselectable lz_overlay_wm_bg"></div>
<div id="livezilla_wm" class="lz_chat_unselectable lz_overlay_wm_button" style="background:<!--pc-->;border:<!--border-->px solid transparent;">
    <svg class="lz_chat_unselectable lz_overlay_wm_icon" width="<!--size-->" height="<!--size-->" style="width:<!--size-->px !important;height:<!--size-->px !important" viewBox="<!--posx--> <!--posy--> <!--size--> <!--size-->" xmlns="http://www.w3.org/2000/svg">
        <path transform="scale(<!--scale-->)"></path></svg>
</div>
